*{
    transition: all .3s;
    font-family: 'Kumbh Sans', sans-serif;
}
p, a, label, th, td, li, input {
    color: #484848;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #484848;
}
.text-green{
    color: #46c854;
}
/* Buttons */
a:hover{
    text-decoration: none;
}
.button-green{
    background-color: #46c854;
    padding: 15px 30px;
    color: #fff;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
    box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
    transition: all .3s;
}
.button-green:hover{
    background-color: #fff;
    color: #46c854;
}
.button-white{
    background-color: #fff;
    padding: 15px 30px;
    color: #46c854;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
    box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
    transition: all .3s;
}
.button-white:hover{
    background-color: #46c854;
    color: #fff;
}
/* Background */
.bg-light-green{
    background-color: #84f790;
}
.bg-gray{
    background-color: #7b7b7b;
}
.bg-green{
    background-color: #46c854;
}
/* Navigation */
.nav-rekatama{
    position: absolute;
    z-index: 3;
    width: 100%;
    padding: 10px 0;
}
.nav-rekatama ul li{
    margin: 0 15px;
}
.nav-rekatama ul li a{
}
.banner-top .content-title{
    position: absolute;
    top: 49%;
    right: -19%;
    width: 42%;
    transform: translate(-50%, -50%);
}
.home.banner-top .content-title h1{
    font-size: 60px;
}
/* Ornaments */
.line-before-green::before{
    background-color: #46c854;
    content: '';
    width: 50px;
    display: block;
    height: 3px;
    margin-bottom: 17px;
}
/* Column Count */
.column-count-2{
    column-count: 2;
}