*{
    transition: all .3s;
    font-family: 'Kumbh Sans', sans-serif;
}
p, a, label, th, td, li, input {
    color: #484848;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #484848;
}
.text-green{
    color: #46c854;
}
.font-40px{
    font-size: 40px;
}
/* Buttons */
a:hover{
    text-decoration: none;
}
.button-green{
    background-color: #46c854;
    padding: 15px 30px;
    color: #fff;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
    box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
    transition: all .3s;
}
.button-green:hover{
    background-color: #fff;
    color: #46c854;
}
.button-white{
    background-color: #fff;
    padding: 15px 30px;
    color: #46c854;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
    box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
    transition: all .3s;
}
.button-white:hover{
    background-color: #46c854;
    color: #fff;
}
/* Background */
.bg-light-green{
    background-color: #84f790;
}
.bg-gray{
    background-color: #7b7b7b;
}
.bg-green{
    background-color: #46c854;
}
/* Navigation */
.nav-rekatama{
    position: fixed;
    z-index: 3;
    width: 100%;
    padding: 10px 0;
    background: rgba(255,255,255,0.9);
}
.nav-rekatama img{
    width: 50px;
}
.nav-rekatama ul{
    margin-bottom: 0;;
}
.nav-rekatama ul li{
    margin: 0 15px;
}
/* Ornaments */
.line-before-green::before{
    background-color: #46c854;
    content: '';
    width: 50px;
    display: block;
    height: 3px;
    margin-bottom: 17px;
}
/* Column Count */
.column-count-2{
    column-count: 2;
}
/* Pages */
.home.banner-top .content-title{
    position: absolute;
    top: 49%;
    right: -19%;
    width: 42%;
    transform: translate(-50%, -50%);
}
.home.banner-top .content-title h1{
    font-size: 60px;
}
.bg-home-brief-mid{
    background-image: url(../images/bg-home-brief-mid.jpg);
    background-position: right bottom;
    background-size: cover;
}
.guaranteed{
    background-image: url(../images/bg-green-lock.jpg);
    background-size: cover;
    background-position: bottom right;
}
.high-security ul li::marker{
    color: #84f790;
}
.general.banner-top .content-title{
    position: absolute;
    top: 60%;
    left: 16%;
    transform: translate(-50%, -50%)
}
.nav-tabs {
    border-bottom: 1px solid #46c854;
}
.nav-tabs .nav-link{
    border-radius: 0;
    font-size: 20px;
    padding: 1rem 2rem;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #fff;
    background: #46c854;
    border-color: #46c854 #46c854 #fff;
}
.about.history-section .tab-content ul li::marker, .custom-marker li::marker{
        font-family: "Font Awesome 5 Free";
        content: '\f058 \00a0 \00a0';
        margin-right: 5em;
        color: #46c854;
}
.about.bottom-bg-services{
    background-image: url(../images/shutterstock_123163654_content.jpg);
    background-size: cover;
    background-position: right;
}
.about.client-logo{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.bg-services{
    background-image: url(../images/bg-services.jpg);
    background-size: cover;
    background-position: right;
}
/* Footer */
.footer{
    border-top: 3px solid #46c854;
    background-image: url(../images/bg-footer.jpg);
    background-size: cover;
    background-position: right;
}
.footer ul li{
    margin: 12px 0;
}
.footer .copyright{
    font-size: 12px;
}
/* Paddings */
.py-10{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
@media screen and (max-width: 846px) {
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-left: 20px;
        padding-right: 20px;
    }
    .media {
        display: inline-block;
        -ms-flex-align: unset;
        align-items: unset;
    }
    .home.banner-top img{
        height: 100vh;
        object-fit: cover;
        object-position: center;
    }
    .home.banner-top .content-title h1 {
        font-size: 40px;
    }
    .home.banner-top .content-title {
        position: absolute;
        top: 59%;
        right: auto;
        width: 100%;
        transform: translate(-50%, -50%);
        left: 50%;
    }
    .bg-home-brief-mid{
        background-image: url(../images/bg-home-brief-mid-mobile.jpg);
    }
    .button-menu{
            background-color: #46c854;
            padding: 15px 20px;
            color: #fff;
            -webkit-box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
            -moz-box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
            box-shadow: 5px 5px 5px 0px rgba(0,69,7,0.19);
            transition: all .3s;
    }
    .side-nav{
        position: fixed;
        background: #46c854;
        width: 100%;
        left: -100%;
        height: 100vh;
        top: 0;
        padding: 1rem;
    }
    .side-nav.active{
        left: 0;
    }
    .side-nav ul{
        padding: 50px 25px;
        text-align: center;
    }
    .side-nav ul li a{
        color: #fff;
        margin: 13px 0;
        display: inline-block;
        font-size: 22px;
    }
}